@{
    ViewData["Title"] = "Page Not Found";
}

<div class="not-found-page">
    <div class="container">
        <h1>404 Not Found</h1>
        <p>We could not find the page you were looking for. Make sure that the you entered the correct information. If you believe this to be an error please contact us.</p>
        <a asp-controller="home" asp-action="index">Go Back</a>
    </div>
</div>
