@{
    ViewData["Title"] = "Admin Dashboard";
    
    var collectionViewModel = new CollectionViewmodel
            {
                Products = await _productService.GetAllAsync()
            };
}

<div class="admin-dashboard-page">
    <div class="container">
        <h1>ADMIN DASHBOARD</h1>
        <div class="dashboard-options">
            <button class="active dashboard-option" type="button" data-target="products">PRODUCTS</button>
            <button class="dashboard-option" type="button" data-target="users">USERS</button>
        </div>

        <div class="products">
            <button class="create-button"><i class="bi bi-plus"></i></button>

            <partial name="/Views/Partials/_ProductCollection.cshtml" model=@collectionViewModel />
        </div>
    </div>
</div>
