@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="admin-dashboard-page">
    <div class="container">
        <h1>ADMIN DASHBOARD</h1>
        <div class="dashboard-options">
            <button class="active dashboard-option" type="button" data-target="products">PRODUCTS</button>
            <button class="dashboard-option" type="button" data-target="users">USERS</button>
        </div>

        <div class="products">
            <button class="create-button"><i class="bi bi-plus"></i></button>
        </div>
    </div>
</div>
