@{
    ViewData["Title"] = "Contact Us";
}

<div class="contact-page">
    <div class="banner-container">
        <img src="~/images//placeholders/1920x300.svg" alt="banner-image" />
    </div>
    <div class="container">
        <form method="post"></form>
    </div>
</div>