@{
    ViewData["Title"] = "Home";

    var bestCollectionViewModel = new CollectionViewmodel
            {
                CollectionName = "Best Collection",
        };
}

<partial name="/Views/Partials/_WelcomeJumbotron.cshtml" />

<main>
    <partial name="/Views/Partials/_ProductCollection.cshtml" model=@bestCollectionViewModel />
    <partial name="/Views/Partials/_OnSale.cshtml" model=@bestCollectionViewModel />
    <partial name="/Views/Partials/_TopSellers.cshtml" model=@bestCollectionViewModel />
</main>