@{
    ViewData["Title"] = "Not implemented yet";
}

<div class="not-implemented-page">
    <div class="container">
        <h1>This page does not exist yet, try again later.</h1>
        <a asp-controller="home" asp-action="index">Go Back</a>
    </div>
</div>