@{
    ViewData["Title"] = "Not implemented yet";
}

<div class="not-implemented-page">
    <div class="container">
        <h1>Not Implemented Yet</h1>
        <p>The functionality you tried to access has not yet been implemented. Try again at a later time.</p>
        <a asp-controller="home" asp-action="index">Go Back</a>
    </div>
</div>