.admin-dashboard-page {
    margin: 1em 0;
    color: $color-dark-1;

    @include lg {
        margin: 2em 0;
    }

    .dashboard-options {
        display: flex;
        border: 1px solid $color-dark-4;
        border-right: none;

        .dashboard-option {
            width: 50%;
            padding: 0.5em 0;
            font-weight: 600;
            border: none;
            border-right: 1px solid $color-dark-4;
            background-color: transparent;

            &:hover {
                background-color: $color-dark-5;
            }
        }

        .dashboard-option.active {
            background-color: $color-theme-1;
            color: $color-white;
        }
    }

    .products {
        .create-button {
            padding: 0;
            width: 2.5em;
            height: 2.5em;
            background-color: $color-theme-1;
            color: $color-white;
            border: none;
            border-radius: 5px;

            .bi-plus {
                font-size: 1.75em;
            }
        }
    }
}
