header {
    background-color: $color-dark-1;

    a {
        color: $color-light;
        text-decoration: none;
    }

    @include lg {
        background: $color-white;
    }

    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 2rem;

        @include lg {
        }

        @include xl {
        }
    }

    .logo {
        font-weight: $font-weight-bold;
        font-size: 1.3rem;
        color: $color-light;

        img {
            margin-right: 0.5rem;
        }
    }

    .logo-dark {
        display: none;

        @include lg {
            display: block;
        }
    }

    .logo-light{
        display: block;

        @include lg {
            display: none;
        }
    }

    .menu-links {
        background: $color-dark-2;
        position: absolute;
        bottom: -7.5rem;
        z-index: 999;
        width: 100%;
        overflow: hidden;
        margin-left: -2rem;
        display: grid;
        border-top: 1px solid $color-dark-3;
        border-top: 1px solid $color-dark-3;

        @include lg {
            color: $color-dark-2;
        }

        @include xl {
        }

        ul {
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .link {
            display: flex;
            align-items: center;
            height: 2.5rem;
            font-family: $font-poppins;
            font-weight: $font-weight-medium;
            width: 100%;

            a {
                width: 100%;
            }
        }
    }

    .mobile-closed-menu {
        display: none;
    }


    .menu-icons {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        background-color: $color-dark-1;
        width: 100%;
        font-size: 1.1rem;


        @include xl {
            position: relative;
        }

        .link {
            font-family: $font-poppins;


            &:hover {
            }

            @include xl {

                &:hover {
                }
            }
        }
    }

    .toggle {
        grid-area: toggle;

        @include lg {
            display: none;
        }

        .toggle-btn {
            border: 1px solid $color-light;
            color: $color-white;
            border-radius: 5px;
            width: 2rem;
            height: 2rem;
            background-color: transparent;

            &:hover {
                background-color: $color-light;
                color: $color-dark-0;
            }
        }

        .hidden {
            display: none;
        }
    }
}
