.product-page {
    .link-list {
        padding: 0;
        margin: 1em 0;
        font-size: 1.2em;
        list-style: none;
        display: flex;
        gap: 0.5em;
        justify-content: center;
        flex-wrap: wrap;

        @include lg {
            margin: 2em 0;
            gap: 1em;

            .seperator {
                display: none;
            }
        }

        a {
            text-align: center;
            text-decoration: none;
            color: $color-dark-1;

            &:hover {
                text-decoration: underline;
                color: $color-theme-1;
            }
        }
    }

    .page-button-container {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        margin-bottom: 3em;

        a {
            text-align: center;
            font-size: 1.2em;
            text-decoration: none;
            color: $color-dark-1;
            width: 1.5em;

            @include lg {
                gap: 1em;
                font-size: 1.3em;

                &:hover {
                    background-color: $color-dark-4;
                    border-radius: 40%;
                }
            }
        }

        .dots {
            display: flex;
            align-items: end;
            font-size: 1.3em;
        }
    }

    .active {
        color: $color-theme-1 !important;
    }
}
