@model HomeViewModel

<div class="contact-form">
    <div class="container">
        <form novalidate method="post">
            <h2>Subscribe To Our Newsletter!</h2>

            <div class="input-group">
                <input asp-for="@Model.Email" />
                <button>SUBSCRIBE</button>
            </div>
        </form>
    </div>
</div>