<header>
    <div class="nav-container">
        <div class="logo logo-dark">
            <a asp-controller="home" asp-action="index">
                <img src="images/logo.svg" alt="">bmerketo
            </a>
        </div>
        <div class="logo logo-light"><img src="images/logo_light.svg" alt="">bmerketo</div>

        <nav id="menu" class="menu-links mobile-closed-menu">
            <ul>
                <li class="link">
                    <a asp-controller="home" asp-action="index">HOME</a>
                </li>
                <li class="link">
                    <a asp-controller="products" asp-action="index">PRODUCTS</a>
                </li>
                <li class="link">
                    <a asp-controller="contact" asp-action="index">CONTACT</a>
                </li>
            </ul>

        </nav>

        <nav class="menu-icons">
            <!-- Add search funtionality -->
            <a class="link" href="#"><i class="bi bi-search"></i></a>

            <!-- Add condition for signout instead -->
            <a asp-controller="auth" asp-action="login" class="link">Login</a>

            <!-- Turn into button that pops up modal with cart info -->
            <a class="link" href="#"><i class="bi bi-cart"></i></a>
        </nav>

        <div class="toggle">
            <button onclick="toggleMobileMenu()" class="toggle-btn closed">
                <i class="bi bi-list open-icon"></i>
                <i class="bi bi-x-lg hidden close-icon"></i>
            </button>
        </div>
    </div>
</header>