<header>
    <div class="nav-container">
        <div class="logo logo-dark">
            <a asp-controller="home" asp-action="index">
                <img src="images/logo.svg" alt="">bmerketo
            </a>
        </div>
        <div class="logo logo-light"><img src="images/logo_light.svg" alt="">bmerketo</div>

        <nav id="menu" class="menu-links mobile-closed-menu">
            <ul>
                <li class="link">
                    <a asp-controller="home" asp-action="index">HOME</a>
                </li>
                <li class="link">
                    <a asp-controller="products" asp-action="index">PRODUCTS</a>
                </li>
                <li class="link">
                    <a asp-controller="contact" asp-action="index">CONTACT</a>
                </li>
            </ul>

        </nav>

        <nav class="menu-icons">
            <!-- Add search funtionality -->
            <a asp-controller="notimplemented" asp-action="index" class="link"><i class="bi bi-search"></i></a>

            <!-- Add condition for signout instead -->
            <a asp-controller="account" asp-action="signin" class="link">SIGN IN</a>

            <!-- Turn into button that pops up modal with cart info -->
            <a asp-controller="notimplemented" asp-action="index" class="link"><i class="bi bi-cart"></i></a>
        </nav>

        <div class="toggle">
            <button onclick="toggleMobileMenu()" id="menu-toggle" class="toggle-btn" aria-expanded="false" aria-controls="menu" aria-label="Toggle menu">
                <i class="bi bi-list open-icon"></i>
                <i class="bi bi-x-lg hidden close-icon"></i>
            </button>
        </div>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menu = document.querySelector("#menu");
        const button = document.querySelector(".toggle-btn");
        const openIcon = document.querySelector(".open-icon");
        const closeIcon = document.querySelector(".close-icon");


        button.addEventListener("click", () => {
            // gets the current value of aria-expanded
            const expanded = button.getAttribute("aria-expanded") === "true";

            button.setAttribute("aria-expanded", !expanded);
            menu.classList.toggle("mobile-closed-menu");
            openIcon.classList.toggle("hidden");
            closeIcon.classList.toggle("hidden");
        });
    });
</script>