@{
    var products = await _productService.GetAllByTag("On Sale")!;
}

@if (products != null && products.Count >= 2)
{
    <div class="on-sale-section">
        <div class="container">
            <div class="product-item-1">
                <partial name="/Views/Partials/_CollectionItem.cshtml" model=@products[0] />
            </div>
            <a asp-controller="products" asp-action="ProductsByTag" asp-route-tag="on sale" asp-route-page="1" class="sale-information">
                <h4 class="sale">On Sale!</h4>
                <h3>Up To 60% Off!</h3>
                <h4>Get The Best Price</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <p class="discover">Discover More</p>
            </a>

            <div class="product-item-2">
                <partial name="/Views/Partials/_CollectionItem.cshtml" model=@products[1] />
            </div>
        </div>
    </div>
}
