@model CollectionViewmodel;

@{
    var products = await _productService.GetAllAsync(Model.Filter);
}

<div class="container">
    <div class="header-container">
        <h2>@Model.CollectionName</h2>
        
        <div class="product-container">
            @foreach(var product in products)
            {
                <partial name="/Views/Partials/CollectionItem.cshtml" model=@product />
            }
        </div>
    </div>
</div>
