@model CollectionViewmodel;

@{
    var products = await _productService.GetAllAsync(Model.Filter);
    var a = "";
}

<div class="container">
    <div class="header-container">
        <h2>@Model.CollectionName</h2>
        <ul>
            @foreach (var product in products)
            {
                <li>@product.Name</li>
            }
            <!-- tags -->
        </ul>
    </div>
</div>
