@model CollectionViewmodel;

@if (Model.Products != null && Model.Products.Count > 0)
{
    <div class="container product-collection">

    @if (!string.IsNullOrWhiteSpace(Model.CollectionName))
    {
        <div class="header-container">
            <h2>@Model.CollectionName</h2>
        </div>
    }
   <div class="product-container">
        @for (int i = 0; i < Model.Products.Count; i++)
        {
                    <partial name="/Views/Partials/_CollectionItem.cshtml" model=@Model.Products[i] />
        }
        </div>

        <div class="button-container">
            <button type="button" id="load-more-button" class="hidden">
                LOAD MORE
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>
    </div>

    <script>
        let productAmount = @Model.AmountOfVisibleProducts;
        let currentIndex = productAmount;
        let productsCount = @Model.Products.Count;

        document.addEventListener('DOMContentLoaded', function () {
            let loadMoreButton = document.getElementById('load-more-button');
            // If all products are being shown there is no need to have the button visible
            removeButtonIfAllShown(loadMoreButton);

            let productContainer = document.querySelector('.product-container');
            let collectionItems = productContainer.getElementsByClassName('product-item');

            for (let i = currentIndex; i < collectionItems.length; i++) {
                collectionItems[i].style.display = 'none';
            }

            loadMoreButton.addEventListener('click', function () {
                let endIndex = currentIndex + productAmount;

                for (let i = currentIndex; i < endIndex && i < collectionItems.length; i++) {
                    collectionItems[i].style.display = 'block';
                }

                currentIndex = endIndex;
                removeButtonIfAllShown(loadMoreButton);
            });
        });

        const removeButtonIfAllShown = (loadMoreButton) => {
            if (currentIndex >= productsCount) {
                loadMoreButton.style.display = 'none';
            }
            else {
                loadMoreButton.style.display = 'block';

            }
        } 
    </script>
}