<div class ="container">
    <div>
        <h2>WELCOME TO BMKERKETO SHOP</h2>
            <h1>Exclusive Chair Gold Collection</h1>
        <button>SHOP NOW</button>
    </div>
    <div>
        <img src="~/images/placeholders/625x647.svg" alt="Exclusive chair gold collection" />
    </div>
</div>
