@using System.Globalization;
@model ProductModel

@if (!string.IsNullOrWhiteSpace(Model.Name) && !string.IsNullOrWhiteSpace(Model.ImageUrl) && Model.Price != 0)
{
    <a href="#" class="product-item">
            <img src="@Model.ImageUrl" alt="@Model.Name" />
        <div class="text-container">
            <h4>@Model.Name</h4>
            <p>@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:c}", Model.Price)</p>
        </div>
    </a>
}
